@model OrganisationWebApp.Models.Record

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfCom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsInCurrR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsInCurrR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsInCurrCom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsInCurrCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsSinLastPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsSinLastPromo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
