@model OrganisationWebApp.Models.Education

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EduYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EduYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EduField)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EduField)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
